/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #debddf;
  --neon-text-color: #f40;
  --neon-border-color1: #08f;
  --neon-border-color2: yellow;
}

/* set content highlight color and background */
::selection {
  background-color: var(--bright-turquoise);
  color: var(--outer-space);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 50.5%;
}

code {
  /* Monospace font stack is used for our code blocks to make it look more like code */
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--outer-space);

}

main {
  width: 96%;
  margin: 2rem auto;

}

header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
 
  
}




.row-main-content{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
justify-content: center;

}


.column-card-main
{
  outline: 2px dashed var(--gin);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
  flex: 1 0 450px;

  margin: 2.5rem;
  padding: 0 15px;

}

figure{
  display: flex;
  flex-direction: column;

  margin-bottom:2.5rem;

justify-content: flex-start;
min-height: 100%;

 
}



.card-header{
  border: 2px solid #e0eae4;
  color: var(--heliotrope);
  padding: 1rem;
  font-size: 1.5rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  background-color: var(--outer-space);


  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.card-body
{
  padding: 1.5rem;
  color: var(--heliotrope);

  margin: 15px;
  height: 50px;
 
}
.code-block 
{

  /* set styles to make it so code wraps in <pre> instead of overflowing */
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: var(--gin);
  border-radius: 15px;
  /* use linear-gradient() function to create a fading background  */
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  display: flex;
  align-items: center;
 
     
}

p {
  margin-bottom: 1rem;
}

pre{
  font-size: 2.5rem;

  height: 450px;

}



.card-detail .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
          }               

.card-detail:hover .card-header,
.column-card-main:hover {
 box-shadow: inset 0px 0px 8px 
rgba(232, 102, 236, 1), 0 0 15px 
rgba(232, 102, 236, 1);
}



footer {

  text-align: center;
  padding: 20px;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */


  .column-card-main {
    flex: 1 0 320px;
    background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%); 
  
  

   
  
  }

  .code-block {
    margin: 20px;
    font-size: 15px;

  }
  /* select the last child to grow to full width if it has space to grow */
  .column-card-main:last-child {
    flex-grow: 1;
  }

  .card-detail .card-header {
    border-radius: 82px;
    transition: all 0.5s ease-in-out;
            }               
  
  .card-detail:hover .card-header,
  .column-card-main:hover {
   box-shadow: inset 0px 0px 80px 
  rgb(24, 24, 23), 0 0 15px 
  rgb(213, 5, 5);
  }
  
  

}







@media screen and (max-width: 500px) {
  /* on tablets, set columns to only be 50% of the width and not grow */



  .column-card-main {
    flex: 1 0 320px;
    background: linear-gradient(89.7deg, rgb(19, 82, 217) -10.7%, rgb(1, 11, 16) 88.8%); 
  
  

   
  
  }

  .code-block {
    margin: 20px;
    font-size: 15px;

  }
  /* select the last child to grow to full width if it has space to grow */
  .column-card-main:last-child {
    flex-grow: 1;
  }

  .card-detail .card-header {
    border-radius: 82px;
    transition: all 1.5s ease-in-out;
            }               
  
  .card-detail:hover .card-header,
  .column-card-main:hover {
   box-shadow: inset 0px 0px 80px 
  rgb(24, 24, 23), 0 0 15px 
  rgb(155, 235, 4);
  }
  
  

}













/* .page-title  {
  font-size: 2.5rem;
  padding: 1rem 1.2rem;
  color: var(--heliotrope);
} */


.page-title {
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;   
  width: 80%;  
  margin: 10px auto;
}

.page-title ::-moz-selection {
  background-color: var(--neon-border-color2);
  color: var(--neon-text-color);
}

.page-title ::selection {
  background-color: var(--neon-border-color1);
  color: var(--neon-text-color);
}

.page-title :focus {
  outline: none;
}




/* Animate neon flicker */
@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color1),
          inset 0 0 2rem var(--neon-border-color2),
          0 0 4rem var(--neon-border-color1),
          inset 0 0 4rem var(--neon-border-color2);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}